{extend name="layout"}
{block name="title"}
小说评论
{/block}
{block name="content"}
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
        <ul class="search" style="padding-left:10px;">

        </ul>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th>ID</th>
            <th width="15%">评论对象</th>
            <th width="15%">评论者</th>
            <th width="35%">内容</th>
            <th>更新时间</th>
            <th>状态</th>
            <th>审核操作</th>
        </tr>
        {foreach $lists as $key=>$val}
        <tr>
            <td><input type="text" name="sort[1]" value="{$val['id']}" style="width:50px; text-align:center; border:1px solid #ddd; padding:7px 0;"/></td>
            <td>{$val['novel']}</td>
            <td>{$val['user']}</td>
            <td>{$val['content']}</td>
            <td>{$val['add_time']}</td>
            <td>{if $val['status']==9}待审核{elseif $val['status']==1}<font color="green">已通过</font>{else}<font color="red">已拒绝</font>{/if}</td>
            <td>
                <div class="button-group">
                    <a class="button border-main change" data-url="{:url('admin/comment/enable',['id'=>$val['id']])}" href="javascript:void(0)">审核通过</a>
                    <a class="button border-red change" data-url="{:url('admin/comment/disable',['id'=>$val['id']])}" href="javascript:void(0)">拒绝通过</a>
                </div>
            </td>
        </tr>
        {/foreach}
        <tr>
            <td colspan="8">
                {$lists->render()}
            </td>
        </tr>
    </table>
</div>
{/block}
{block name="js"}
<script>
    $(function(){
        $('a.change').on('click',function(){
           var text = $(this).text();
           if (confirm('确认'+text+'?')==true){
               var url = $(this).data('url');
               location = url;
           }
        });
    })
</script>
{/block}