.body{
	height: calc(100vh - 50px);
	overflow: hidden;
}
.header{
	background: #1296DB;
	color: white;
	height: 100px;
	overflow: hidden;
}
.nick_name{
	display: block;
	padding: 0 40px;
	margin-top: 40px;
	font-size: 18px;
}
.user_phone{
	padding: 0 20px;
	font-size: 14px;
}
.navs{
	overflow: hidden;
}
.navs_item{
	overflow: hidden;
	border-bottom: #e0e0e0 1px solid;
	padding: 15px;
}
.navs_item .uni-icons,.navs_item uni-icons{
	float: right;
}
.navs_item.logout{
	color: #1296DB;
}
