.body{
	overflow: hidden;
}
.scroll_view{
	display: block;
	height: calc(100vh - 44px);
}
.cover_item{
	display: block;
	overflow: hidden;
	padding: 10px;
	border-bottom: #e0e0e0 1px solid;
}
.cover_item:last-child{
	border: none;
}
.book_title{
	width: 80%;
	float: left;
	overflow: hidden;
}
.book_title image{
	display: block;
	width: 80px;
	height: 100px;
	float: left;
}
.book_title .book_info{
	width: calc(100% - 110px);
	float: right;
	padding:0 10px;
}
.book_info .title{
	font-size: 14px;
	font-weight: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	height: 1.5rem;
}
.book_info .intro{
	font-size: 12px;
	font-weight: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
	height: 5.2rem;
	margin-top: 3px;
}
.item_btn{
	float: right;
	display: flex;
	align-items: center;
	height: calc(6.7rem + 3px);
}
.item_btn text{
	display: inline-block;
	width: 4.2rem;
	font-size: 14px;
	color: white;
	background: #1296DB;
	text-align: center;
	line-height: 2rem;
	border-radius: 5px;
}