.book-back{
	background-color: #6e686a;
	padding: 40rpx;
	display: flex;
}
.imgs{
	width: 200rpx;
	height: 300rpx;
}
.img-box{
	flex: 1;
	text-align: right;
}
.name{
	font-size: 44rpx;
	color: #FFFFFF;
	margin-top: 20rpx;
	
	}
.author{
	font-size: 32rpx;
	color: #c0babc;
	margin-top: 20rpx;
	
}
.type{
	font-size: 28rpx;
	color: #c0babc;
	margin-top: 20rpx;
}
.line{
	height: 30rpx;
	background-color: #E5E5E5;
	width: 100%;
}

.charts{
	padding: 30rpx;
	font-size: 50rpx;
	display: flex;
	align-items: center;
}
.charts-item{
	padding: 30rpx;
	padding-top: 0rpx;
	line-height: 45rpx;
}
.buttom{
	height: 100rpx;
	position: fixed;
	bottom: 0px;
    padding: 20rpx 0rpx;
	width: 100%;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.charts-items{
	border-bottom: 2rpx solid  #f1f1f1;
	padding-bottom: 20rpx;
	padding-top: 20rpx;
}
.read{
	background-color: #ffde3a;
	padding: 20rpx 100rpx;
	border-radius: 30rpx;
	text-align: center;
}