{extend name="layout"}
{block name="title"}
管理员列表
{/block}
{block name="content"}
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
        <form action="" method="get">
            <ul class="search" style="padding-left:10px;">
                <li><a class="button border-main icon-plus-square-o" href="{:url('admin/admin/add')}"> 添加内容</a></li>
                <li>搜索：</li>
                <li>
                    <input type="text" placeholder="请输入搜索关键字" name="keywords" class="input" style="width:250px; line-height:17px;display:inline-block"/>
                    <button type="submit" class="button border-main icon-search"> 搜索</button>
                </li>
            </ul>
        </form>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th width="100" style="text-align:left; padding-left:20px;">ID</th>
            <th width="10%">排序</th>
            <th>名称</th>
            <th width="310">操作</th>
        </tr>
        {foreach $lists as $key=>$val}
        <tr>
            <td style="text-align:left; padding-left:20px;">{$val['id']}</td>
            <td><input type="text" name="sort[1]" value="{$key+1}" style="width:50px; text-align:center; border:1px solid #ddd; padding:7px 0;"/></td>
            <td>{$val['user_name']}</td>
            <td>
                <div class="button-group"><a class="button border-main" href="{:url('admin/admin/update',['id'=>$val['id']])}"><span class="icon-edit"></span> 修改</a> <a class="button border-red del" href="javascript:void(0)" data-url="{:url('admin/admin/delete',['id'=>$val['id']])}"><span class="icon-trash-o"></span> 删除</a></div>
            </td>
        </tr>
        {/foreach}
        <tr>
            <td colspan="8">
                <div class="pagelist">{$lists->render()}</div>
            </td>
        </tr>
    </table>
</div>
{/block}
{block name="js"}
<script>
    $(function () {
        $('a.del').on('click', function () {
            if (confirm('确认删除？') == true) {
                var url = $(this).data('url');
                location = url;
            }
        });
    });
</script>
{/block}