<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
</head>
<body>
	<div>
		<iframe src="{$url}"></iframe>
		<!-- 1111 -->
	</div>
</body>
<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
	iframe{
		width: 100vw;
		height: 100vh;
		border: none;
	}
</style>
</html>